body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #004B23;
    position: relative;
    margin: 0;
    height: 100vh;
    padding-top: 100px;
}


body::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 30px 25px 75px #000000, inset -30px -25px 75px #000000
}


#dealer-cards img {
    position: relative;
    z-index: 2;
    height: 180px;
    width: 135px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

#your-cards img {
    position: relative;
    z-index: 2;
    height: 180px;
    width: 135px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    display: inline-block;
    position: relative;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: #FFFFF0;
    z-index: 2;
    margin: 10px;
    border: groove;
    border-color: black;
    border-radius: 10px;
}

.button-container {
    display: inline-flex; 
    background-color: black;
    justify-content:center;
    gap: 5px;
    border-radius: 25px;
    height: 55px;
    width: 450px;
    padding-top: 10px
}

#hit, #stay {
    position: relative;
    z-index: 2;
}

#hit {
    width: 85px;
    height: 45px;
    font-size: 20px;
    color: white;
    background-color: #FF0000;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.9);
}

#stay {
    width: 85px;
    height: 45px;
    font-size: 20px;
    color: white;
    background-color: #4CAF50;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.9);
}

#hit:hover {
    background-color: #C00000;
    transform: scale(1.18);
}

#stay:hover {
    background-color: #3E8E3E;
    transform: scale(1.18);
}

/*#results {*/
/*} */

#results.has-text {
    display: inline-block;
    margin-top: 70px;
    padding: 6px;
    width: 250px;

    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: white;

    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}
